*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  margin-bottom: 400px;
}
.scrollSection{
  transform: rotate(-17deg);
  position: relative;
  left: -6%;
  transform-origin: 10% 0%;
  margin-bottom: 45px;
  &:last-child{
    margin-bottom: 0;
  }
}

.App{
  padding-top: 200px;
}